@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    background: #000;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
  display: flex;
  flex-direction: column;
}

.background-map {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    background:url('../images/map-music-0.png') center center no-repeat;
    filter: blur(5px);

}

/* ==============================
        HEADER
============================== */

.header {
    padding-top: 20px;
    position: relative;
    z-index: 60;
}

.logo {
    max-width: 100%;
    padding: 0 40px;
}

/* ==============================
        MAIN
============================== */

.main {
    flex: 1 0 auto;
    padding-top: 10%;
    position: relative;
    z-index: 40;
}

.punchline {
    padding: 20px 20px;
    text-align: center;
    font-size: 1.5rem;
}

.welcome {
    line-height: 4rem;
}

@media screen and (max-width:47em) {
    .main {
        padding-top: 20%;
    }

    .welcome {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .punchline {
        font-size: 1.2rem;
    }
}

.cta .btn {
    margin: 0 auto 115px;
    padding: 12px 35px;
}

.btn-beta {
    background-color: #D35446;
}

a.btn.btn-beta-soon {
    background-color: #8A8A8A;
    color: white;
    /* cursor: wait !important; */
    cursor: url("https://ageofmakers.herokuapp.com/images/hourglass-not-done_23f3.png"), wait;
    pointer-events:all;
}

.btn-beta-soon:hover {
    color: white;
}

/* ==============================
        FOOTER
============================== */

.footer {
    background-color: #F7F7F7;
    color: #16325C;
    padding: 2rem;
    padding-bottom: 3.5rem;
    position: relative;
    z-index: 50;
    flex-shrink: 0;
}

.footer-sfdc-logo {
    margin-bottom: 20px;
}

.copyrights {
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.footer h4 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

dl, ol, ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 30px;
}

.footer li {
    list-style: none;
    margin: 0;
}

.footer li a {
    color: #707070;
    font-size: 1.1rem;
}

.footer li a:hover {
    color: #02a0e0;
    background: #def1fa;
    text-decoration: none;
}