@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    background: #000;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
  display: flex;
  flex-direction: column;
}

.background-map {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    background:url('../images/map-music-0.png') center 200px no-repeat;
    filter: blur(5px);

}

a.disabled {
    color: gray;
    font-style: italic;
    font-weight: bold;
    cursor:wait;
  }


/* ==============================
        HEADER
============================== */

.header {
    padding: 10px;
    z-index: 60;
    background: black;
}

.logo {
    max-width: 100%;
    padding: 0 40px;
}

.nav-link {
    margin-right: 40px;
    color: #f7f7f7;
    padding: 2px 5px !important;
    text-align: center;
    border-bottom: 2px solid #000;
}

.nav-item.active .nav-link, .nav-item:hover .nav-link {
    color: #fff !important;
    border-bottom: 2px solid #fff;
}

.nav-item.active .nav-link {
    font-weight: bold;
}

.github-corner {
    display: none;  
}

.github-corner {
    position:absolute;
    top:0;
    border:0;
    right:0;
    z-index: 99;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 800ms ease-in-out;
}

@keyframes octocat-wave {
    0%,100% { transform:rotateX(0) }
    20%,60% { transform:rotateX(-18deg) }
    40%,80% { transform:rotateX(15deg) }
}


/* ==============================
        Main
============================== */

.hero {
    background: #f8f9fa;
    color: black;
}

.hero-ftc {
    background: url('../images/Future_TrailblazeR_Challenge-Students_Celebrate.jpg') center top no-repeat;
    background-size: cover;
}

.main {
    background: #fff;
    color: #59575c;
    padding-top: 20px;
    padding-bottom: 70px;
}

.main-grey {
    background: #F7F7F7;
}

.main h1, .main h2, .main h3, .main h4 {
    color: #222222;
}

.main h1, .main h2 {
    margin: 40px 0 30px;
    font-weight: 600;
}

.main h3, .main h4 {
    margin: 40px 0 15px;
}

hr {
    margin-top: 40px;
}

.effective-date {
    margin-top: 20px;
    text-align: center;
}

.effective-date em {
    text-decoration: underline;
}

.adventure-select {
    display: inline-block;
    text-decoration: none;
    color: #666;
    padding: 10px 5px 3px;
    cursor: pointer;
    font-size: 1.2rem;
}

.adventure-select:hover, .adventure-select.active {
    color: #222222;
    text-decoration: none;
}

.adventures {
    margin-top: 20px;
}

.adventure-select.active {
    border-bottom: 2px #032d60 solid;
}

.adventure-select:after {
    content: "-";
    display: block;
    position: absolute;
    right: -5px;
    top: 10px;
}
.adventures .col-sm:last-child .adventure-select:after { content: ''; }

.feature {
    margin: 30px 0 60px;
}

#ftc {
    display: none;
}

.feature-hero {
    background-color: #F7F7F7;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.feature-text {
    width: 50%;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.feature-text img {
    margin: 0 auto 15px;
    display: block;
}

.feature-img {
    position: relative;
    left: 50%;
    width: 50%;
    overflow: hidden;
}

.feature h4 {
    font-size: 1.3rem;
}

/* ==============================
        DEMO
============================== */

.demo, .demo-inline {
    flex: 1 0 auto;
    position: relative;
    z-index: 40;
}

.demo {
    padding-top: 10%;
}

.demo-inline {
    padding-top: 50px;
}

.punchline {
    padding: 20px 20px;
    text-align: center;
    font-size: 1.5rem;
}

.welcome {
    line-height: 4rem;
}

.cta .btn {
    margin: 20px auto;
    padding: 12px 35px;
    color: white;
}

.cta .btn-beta-home {
    margin: 0 auto 115px;
}

.btn-beta {
    background-color: #FF5335;
}

.cta .btn-oss {
    background: #222222 url(../images/github-character.svg) no-repeat 15px -9px;
    text-indent: 40px;
    padding-left: 55px;
}

a.btn.btn-beta-soon {
    background-color: #8A8A8A;
    /* cursor: wait !important; */
    cursor: url("https://ageofmakers.herokuapp.com/images/hourglass-not-done_23f3.png"), wait;
    pointer-events:all;
}

.btn-beta-soon:hover {
    color: white;
}

.getstarted-punchlineWrapper {
    position: relative;
    text-align: right;
    margin-top: 10px;
}

.getstarted-punchline {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.getstarted-punchline .cta .btn-beta {
    background-color: #222222;
}

.getstarted-punchline h1 {
    color: #222;
    font-size: 2.2rem;
}

.getstarted-punchline p {
    font-size: 1.1rem;
}

.about-punchline {
    margin: 50px 0 400px;
    text-align:center;
}

/* ==============================
        FOOTER
============================== */

.footer {
    background-color: #F7F7F7;
    color: #032d60;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 50;
    flex-shrink: 0;
}

.footer-sfdc-logo {
    margin-bottom: 20px;
}

.copyrights {
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.footer h4 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer dl, .footer ol, .footer ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 30px;
}

.footer li {
    list-style: none;
    margin: 0;
}

.footer li a {
    color: #707070;
    font-size: 1.1rem;
    line-height: 2.2rem;
}

.footer li a:hover {
    color: #02a0e0;
    background: #def1fa;
    text-decoration: none;
}


/* ==============================
        Responsive
============================== */

/* NOT Small Screen */
@media screen and (min-width:48em) {
    .github-corner { display: block; }
}

/* Small Screen */
@media (max-width:48em) {
    .welcome {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    .hero-ftc { background-position-y: 100px; }
    .about-punchline { margin: 30px 0 150px; }
    .about-punchline h1 { font-size: 2rem; }
    .logo { padding: 0 0 0 10px; }
    .demo { padding-top: 20%; }
    .punchline { font-size: 1.2rem; }
    .navbar-collapse { padding: 10px 40px; }
    .laptop-demo { overflow: hidden; }
    .laptop-demo img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);}
    .getstarted-punchline { position: relative; padding: 20px 0; text-align: center; }
    .laptop-demo img {
        max-width: 130%;
    }
    .feature-text { width: 100%; position: relative; transform: none; top: 0; }
    .feature-img { width: 100%; left: 0; }
    .feature-img img { width: 100%; }
    .adventures .col-sm { text-align: center !important; }
    .adventure-select:after { content: none; }
}
